<!-- Navigation -->
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#services">Services</a>
    <a class="navbar-brand" href="#berufe">Berufe</a>
    <a class="navbar-brand" href="#testimonials">Testimonials</a>
    <a class="navbar-brand" href="#about">About</a>
    <a class="navbar-brand" href="#contact">Contact</a>
    <a class="btn btn-primary" href="#">Sign In</a>
  </div>
</nav>